- provide :title, 'トップページ'

-if user_signed_in?
  %h2 こんにちは、#{current_user.username}さん
  .heading
    = button_to '画像一覧へ', pictures_path, method: :get, class: "btn btn-default"
    = button_to '動画一覧へ', videos_path, method: :get, class: "btn btn-default"
    = button_to 'メディアを追加する', scrape_index_path, method: :get, class: "btn btn-default"
    - if current_user.admin?
      = button_to 'ツイートする', tweets_path, method: :get, class: "btn btn-default"
- else
  %h2 Twitter認証してログインしてください
  .heading
    = button_to 'Twitter認証', user_twitter_omniauth_authorize_path, method: :get, class: 'btn btn-primary'
