%footer
  %nav.navbar.navbar-default.navbar-fixed-bottom{:role => "navigation"}
    .container-fluid
      %ul.nav.navbar-nav
        - if action_name == 'tmp'
          %li= button_tag 'すべて選択', id: 'check_all', type: 'button', class: 'btn btn-default'
          %li= button_tag 'すべて解除', id: 'uncheck_all', type: 'button', class: 'btn btn-default'
      
      %ul.nav.navbar-nav.navbar-right
        / index
        - if action_name == 'index' && current_user.approved?
          %li= link_to '削除申請モードへ', destroy_index_videos_path(page: params[:page])
        / destroy_index
        - if action_name == 'destroy_index'
          %li= link_to '閲覧モードへ', videos_path(page: params[:page])
          %li= submit_tag '削除申請', class: "btn btn-default", name: "request"
        / tmp
        - if action_name == 'tmp'
          %li= link_to '閲覧モードへ', videos_path
          %li= submit_tag '削除', data: { confirm: '削除しますか？' }, class: "btn btn-default", name: "destroy"
          %li= submit_tag '表示許可', class: "btn btn-default", name: "permit"
        / edit いずれは削除
        - if action_name == 'edit'
          %li= link_to 'Back', videos_path(page: params[:page])
        / search
        - if action_name == 'search' && current_user.approved?
          %li= link_to '削除申請モードへ', destroy_index_videos_path(page: params[:page])
