.modal-content
  = video_tag @video.address, id: 'modal-video', controls: true, autoplay: true
.modal-detail
  .center-block
    %p メンバー：#{@video.member.member}
  .center-block
    %p イベント：#{@video.event.event}
  .center-block
    %p 日時：#{@video.date}
  .center-block
    - @video.tags.each do |t|
      %span t.tag
  .center-block
    = link_to '元記事', @video.article_url, class: 'btn btn-default'
