<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<% @videos.each do |video| %>
  <tr>
    <!--    <td><%= video_tag(video.address) %></td> -->
    <td><%= video.member %></td>
    <td><%= video.date %></td>
    <td><%= video.tag %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <br>
<% end %>

<br>

<%= link_to 'New Video', new_video_path %>
