<p id="notice"><%= notice %></p>

<p>
  <%= video_tag(@video.address) %>
</p>

<p>
  <strong>Member:</strong>
  <%= @video.member %>
</p>

<p>
  <strong>Date:</strong>
  <%= @video.date %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @video.tag %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
