- provide :title, '表示/削除'

%p#notice= notice
= form_tag multiple_videos_path do
  #masonry-container.transitions-enabled.centered.clearfix
    .sizer
    .page
      = render @videos
  = paginate @videos
  = render 'footer'
