= form_for(@media_content, method: :patch, remote: true) do |f|
  .modal-body
    .center-block.member-form
      = f.collection_select :member_id, Member.all, :id, :name
    .center-block.event-form
      = f.collection_select :event_id, Event.all, :id, :name, include_blank: true
      -# this button can be pushed only at once.
      %button.btn.new-record{type: 'button'} イベント新規作成
    .center-block.date-form
      = f.date_field :date, class: 'form-control'
    .center-block.tags-form
      = f.text_field :tag_list, {value: @media_content.tag_list.join(','), 'data-role': 'tagsinput', placeholder: 'tag separeted with , or Enter', class: 'tag-list'}
    .center-block.article-form
      = f.url_field :article_url
  .modal-footer
    = f.submit class: 'btn btn-primary'
    %button.btn{type: 'button', aria: {hidden: true}, data: {dismiss: 'modal'}} Close
