%footer
  %nav.navbar.navbar-default.navbar-fixed-bottom{:role => "navigation"}
    .container-fluid
      %ul.nav.navbar-nav
        - if action_name == 'tmp'
          %li= button_tag 'すべて選択', id: 'check_all', type: 'button', class: 'btn btn-default'
          %li= button_tag 'すべて解除', id: 'uncheck_all', type: 'button', class: 'btn btn-default'
      
      %ul.nav.navbar-nav.navbar-right
        / index
        - if action_name == 'index' && current_user.approved?
          %li= link_to '削除申請モードへ', deletion_request_media_contents_path
        / deletion_request
        - if action_name == 'deletion_request'
          %li= link_to '閲覧モードへ', media_contents_path
          %li= submit_tag '削除申請', class: "btn btn-default", method: :patch
        / tmp
        - if action_name == 'tmp'
          %li= link_to '閲覧モードへ', media_contents_path
          %li= submit_tag '削除', data: { confirm: '削除しますか？' }, class: "btn btn-default", name: "remove"
          %li= submit_tag '表示許可', class: "btn btn-default", name: "show"
        / search
        - if action_name == 'search' && current_user.approved?
          / search結果をそのまま表示して削除申請できるようにしたい（idsをそのまま渡せば良い？）
          %li= link_to '削除申請モードへ', deletion_request_media_contents_path
