.detail
  = form_tag scrape_path do
    .center-block
      = text_field_tag :post, nil, placeholder: 'ポストURLを入力してください'
    .center-block
      - Member.all.each do |m|
        = radio_button_tag :member_id, m.id
        = label_tag :member_id, m.member, value: m.id
    .center-block
      = select_tag :event_id, options_from_collection_for_select(Event.all, :id, :event)
    .center-block
      = submit_tag '追加', class: 'btn btn-default', name: 'instagram'
= render 'footer'
