<div class='heading'>
  <%= form_tag scrape_path do %>
    <div class='center-block'>
      <%= text_field_tag :post, nil, placeholder: 'ポストURLまたはポストIDを入力してください' %>
    </div>

    <div class='center-block'>
      <%= select_tag :event_id, options_from_collection_for_select(Event.all, :id, :event) %>
    </div>

    <div class='center-block'>
      <%= submit_tag '追加', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>

<%= render 'footer' %>
