.detail
  = form_tag scrape_path do
    .center-block
      = url_field_tag :article_url, nil, placeholder: '工事中です！'
    .center-block
      - Member.all.each do |m|
        = radio_button_tag :member_id, m.id
        = label_tag :member_id, m.member, value: m.id
    .center-block
      = select_tag :event_id, options_from_collection_for_select(Event.all, :id, :event)
    .center-block
      = submit_tag '追加', class: 'btn btn-default', name: 'official_site'
= render 'footer'
