<div class='heading'>
  <%= form_tag scrape_path do %>
    <div class='center-block'>
      <%= text_field_tag :screen_name, nil, placeholder: 'TwitterID' %>
    </div>

    <div class='center-block'>
      <%= radio_button_tag :type, 'date' %>
      <%= label_tag :type, '期間を指定して取得', value: 1 %>
      <%= radio_button_tag :type, 'number' %>
      <%= label_tag :type, 'ツイート数を指定して取得', value: 2 %>
    </div>

    <div class='center-block'>
      <% Member.all.each do |m| %>
        <%= radio_button_tag :member_id, m.id %>
        <%= label_tag :member_id, m.member, value: m.id %>
      <% end %>
    </div>

    <div class='center-block'>
      <%= select_tag :event_id, options_from_collection_for_select(Event.all, :id, :event) %>
    </div>

    <div class='center-block'>
      <%= text_field_tag :options, nil, placeholder: 'オプション' %>
    </div>

    <div class='center-block'>
      <%= submit_tag '追加', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>

<%= render 'footer' %>
