<%= form_for(picture) do |f| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member %>
    <%= f.collection_select :member_id, Member.all, :id, :member %>
  </div>

  <div class="field">
    <%= f.hidden_field :address %>
  </div>

  <div class="field">
    <%= f.label :event %>
    <%= f.collection_select :event_id, Event.all, :id, :event %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :tag %>
    <%= collection_check_boxes(:picture, :tag_ids, Tag.all, :id, :tag) do |t| %>
      <% t.label {t.check_box + t.text} %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
