= form_for(picture) do |f|
  - if picture.errors.any?
    #error_explanation
      %h2
        = pluralize(picture.errors.count, "error")
        prohibited this picture from being saved:
      %ul
        - picture.errors.full_messages.each do |message|
          %li= message
  .field.center-block
    = f.collection_select :member_id, Member.all, :id, :member
  .field.center-block
    = f.hidden_field :address
  .field.center-block
    = f.collection_select :event_id, Event.all, :id, :event
  .field.center-block
    = f.date_select :date
  .field.center-block
    = collection_check_boxes(:picture, :tag_ids, Tag.all, :id, :tag) do |t|
      - t.label {t.check_box + t.text}
  .actions.right-block
    = f.submit class: 'btn btn-default'
