.modal-content.img-responsive
  = image_tag @picture.address, class: 'img-rounded', id: 'modal-image'
.modal-detail
  .center-block
    %p メンバー：#{@picture.member.member}
  .center-block
    %p イベント：#{@picture.event.event}
  .center-block
    %p 日時：#{@picture.date}
  .center-block
    - @picture.tags.each do |t|
      %span t.tag
  .center-block
    = link_to '元記事', @picture.article_url, class: 'btn btn-default'
