<%= form_tag pictures_multiple_destroy_path do %>
<ul>
  <% @pictures.each do |picture| %>
    <li class="picture_list">
      <div class="picture">
        <%= image_tag picture.address, class: "my-thumbnail img-rounded" %>
        <%= check_box_tag 'pictures[]', picture.id, false, class: 'multiple_checkbox' %>
        <%= image_tag 'item/checkmark2.png', class: "checkmark" %>
      </div>
    </li>
  <% end %>
</ul>

<%= render 'footer' %>

<% end %>
