<p id="notice"><%= notice %></p>

<ul>
  <% @pictures.each do |picture| %>
    <li class="picture_list">
      <div class="picture">
        <%= link_to image_tag(picture.address, class: "thumbnail"), edit_picture_path(picture)  %>
      </div>
    </li>
  <% end %>
</ul>

<div class="footer">
<%= paginate @pictures %>
<%= link_to '削除モードへ', index_destroy_path, class: "link" %>
<%= link_to '画像を追加（未実装）', new_picture_path, class: "link" %>
</div>
