<p id="notice"><%= notice %></p>

<div class="container">
  <%= image_tag @picture.address, class: "left" %>

  <div class="left">
    <p>
      <strong>Member:</strong>
      <%= @picture.member %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @picture.date %>
    </p>

    <p>
      <strong>Tags:</strong>
      <% @picture.tags.each do |t| %>
        <%= t.tag %>
      <% end %>
    </p>
  </div>
</div>

<div class="footer">
  <%= link_to 'Back', pictures_path, class:"link" %>
  <%= link_to 'Edit', edit_picture_path(@picture), class:"link" %>
</div>
