<div class="wrapper">
  <div class="original-image img-responsive">
    <%= image_tag @picture.address, class: "left" %>
  </div>
  <div class="detail">
    <div class="center-block">
      <%= @picture.member.member %>
    </div>

    <div class="center-block">
      <%= @picture.event.event %>
    </div>

    <div class="center-block">
      <%= @picture.date %>
    </div>

    <div class="center-block">
      <% @picture.tags.each do |t| %>
        <%= t.tag %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'footer' %>
