<p id="notice"><%= notice %></p>

<div class="left">
  <%= image_tag(@picture.address) %>
</div>

<div class="right">
  <p>
    <strong>Member:</strong>
    <%= @picture.member %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @picture.date %>
  </p>

  <p>
    <strong>Tags:</strong>
    <% @picture.tags.each do |t| %>
      <%= t.tag %>
    <% end %>
  </p>
</div>

<div class="footer">
  <%= link_to 'Back', pictures_path, class:"link" %>
  <%= link_to 'Edit', edit_picture_path(@picture), class:"link" %>
</div>
