- provide :title, '表示/削除'

%p#notice= notice
= form_tag multiple_pictures_path do
  #masonry-container.transitions-enabled.centered.clearfix
    .sizer
    .page
      = render @pictures
  = paginate @pictures
  = render 'footer'
