- provide :title, 'ユーザ管理'
%h1 ユーザ一覧

%table.table
  %tr
    %th ユーザ名
    %th ユーザID
    %th 承認
    %th 管理者
    %th
    %th
  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.screen_name
      %td= user.approved
      %td= user.admin
      %td= link_to '承認on/off', users_approve_path(id: user.id), method: :patch
      %td= link_to '管理者on/off', users_admin_path(id: user.id), method: :patch
