%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      = link_to 'YuiKaori', root_path, class: 'navbar-brand'
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      / 左側のコンポーネント
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "./", :role => "button"}
            MENU
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'ゆいかおり', search_pictures_path(column: 'member_id', value: 1)
            %li= link_to '小倉唯', search_pictures_path(column: 'member_id', value: 2)
            %li= link_to '石原夏織', search_pictures_path(column: 'member_id', value: 3)
            %li.divider{:role => "separator"}
            / 検索フォーム
            %li
              = form_tag search_pictures_path, method: :get, class: 'navbar-form navbar-left', role: 'search' do
                .form-group
                  = hidden_field_tag :column, 'date'
                  %p since:
                  = date_field_tag :since, Date.today, class: 'form-control', max: Date.today
                  %p until:
                  = date_field_tag :until, Date.today, class: 'form-control', max: Date.today
                = submit_tag '検索', class: 'btn btn-default'
            %li.divider{:role => "separator"}
            %li
              = form_tag search_pictures_path, method: :get, class: 'navbar-form navbar-left', role: 'search' do
                .form-group
                  = hidden_field_tag :column, 'event'
                  = text_field_tag(:value, nil, class: 'form-control', placeholder: 'イベント検索')
                = submit_tag '検索', class: 'btn btn-default'
            %li.divider{:role => "separator"}
            %li
              = form_tag search_pictures_path, method: :get, class: 'navbar-form navbar-left', role: 'search' do
                .form-group
                  = hidden_field_tag :column, 'tag'
                  = text_field_tag(:value, nil, class: 'form-control', placeholder: 'タグ検索')
                = submit_tag '検索', class: 'btn btn-default'
            %li
              = form_tag search_pictures_path, method: :get, class: 'navbar-form navbar-left', role: 'search' do
                .form-group
                  = hidden_field_tag :column, 'media'
                  = text_field_tag :value, nil, class: 'form-control', placeholder: 'メディア名検索'
                = submit_tag '検索', class: 'btn btn-default'
        %li= link_to '画像一覧表示', pictures_path
        %li= link_to '動画一覧表示', videos_path
        - if current_user.try(:admin?)
          %li= link_to '画像削除／表示許可', tmp_pictures_path
          %li= link_to '動画削除／表示許可', tmp_videos_path
      / 右側のコンポーネント
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
              = current_user.username
            %ul.dropdown-menu
              %li 管理者：#{current_user.admin}
              %li 承認：#{current_user.approved}
              %li.divider{:role => "separator"}
              %li= link_to 'ログアウト', users_logout_path, method: :delete
              %li= link_to 'アカウント削除', users_destroy_path, method: :delete
